*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family:"Lato"sans-serif;
}
body{
    font-size: 1.6rem;
}
main{
    background: url(../assets/Background.jpg) no-repeat center/cover;
    min-height: 100vh;
    display: grid;
    place-content: center;

    padding: 6.4rem;

    gap: 2.4rem;
}

section{
    background: #6D67d0;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
}


.temperature-now{
    background: url(../assets/Temperature\ Now\ \(1\).png) center/cover;


    border-radius: 1.2rem;
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}
.temperature-now::before{
    content: "";
    width: 17.6rem;
    height: 17.6rem;
    background: url(../assets/clouds.svg.svg) center/cover;
    position: absolute;
    top: -5.6rem;
    left: -5.6rem;
}
.location{
    justify-self: end;
    padding: 3.2rem 3.2rem 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location strong{
        color: #C2BFF4;    
        font-size: 1.4rem;
}
.temp{
    margin: 6rem;

    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}
.temp .number{
    text-align: center;
    font-weight: bold;
    font-size: 8.8rem;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.temp .number .maxmin{
    font-size: 2rem;
    color: #ffffff;
}
.temp .number .maxmin span{
    color: #c2bff4;
}
.celsius{
    font-size: 2.4rem;
    color: #DAD8F7;
    margin-top:1.5rem ;
}

.statistics{
    padding: 1.2rem;

    display: flex;
    gap: 0.8rem;
    
}

.item{
    flex: 1;

    padding: 1.2rem 1.6rem;
    background:rgba(102, 96, 200, 0.6);
    border-radius: .6rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.item .info{
    color: #e7e6fb;
}
.item .info h5>span,
.item .info p {
    font-size: 1.2rem;
}
.item .info h5{
    font-size: 1.8rem;
    display: flex;
    align-items: baseline;
    gap: 0.4rem;
}
.air-quality{
    font-weight: 700;

    text-align: center;
    display: grid;
}

h2.title{
    font-size: 1.8rem;
    color: #DAD8F7;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    margin-top:3.2rem;
}
    
.air-quality .good{
    margin-top: 3.2rem;
    font-size: 1.8rem;
    color: #87ebcd;
}
.air-quality .p-numero{
    margin-top: .4rem;
    font-size: 4rem;
    color:#E7E6FB;
}
.air-quality .info{
    display: flex;
    align-items: center;

    margin-top: 3.2rem;
    padding:0 1.6rem 1.6rem;
}
.air-quality .info>.number{
    flex: 1;
}
.air-quality .info  p{
    font-size: 1.4rem;
    color: #87ebcd;
}
.air-quality .info small{
    font-size: 1.2rem;
    color: #e7e6fb;
}

.sun-chart-wrapper{
    margin-top: 4rem;
    height: 15rem;
    position: relative;
}

.sun-chart{
    --pos-x:50;
    margin: auto;
    width: 28.6rem;
    height: 28.6rem;


    position: relative;
}
.sun-chart::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    background: #f6c833;
    border-radius:50%;

    top: 50%;
    left: 50%;
    margin: -0.6rem;

    transform: rotate(calc(1deg * ( ( (100 - var(--pos-x) ) /-100) *180))) translate(14.3rem);
}

.chart::before{
    content: "";
    width: 26.6rem;
    height: 26.6rem;

    display: block;

    border: 1px solid black;
    border-radius:50%; 

};

.chart img{
    position: absolute;
    top: 0;
};


